body {
    font-family: 'Lato', 'Arial', sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/*SECTION HOME --------------------------------------- */
.cover-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/taximg.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/taximg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 75vh;
    opacity: .85;
}

/* NAV BAR AND LOGO ----------------------------------- */
header {
    border-bottom: 1px solid rgb(191, 191, 191);
}

header .logo img {
    height: 50px;
    max-width: 70px;
    margin: 5px
}


.nav-wrapper {
    max-width: 100%;
    margin: auto;
    position: relative;
    padding-left: 7px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo {
    margin-left: 25%;
}

header h1 {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    color: white;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-right: 1%;
}

/* HOME SECTION PART 2 ---------------------------- */
div.contactbox {
    position: relative;
    width: 40%;
    left: 30%;
    height: 80%;
    margin-top: 45px;
    background-image: url('../images/blue.jpg');
    opacity: .90;
    background-size: cover;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

ul#scene {
    color: white;
    padding: 0;
    margin-top: 30px;
}

ul#scene li.layer {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    width: 100%;
    list-style: none;
}

ul#scene::after {
    display: block;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    width: 200px;
    margin: 10% auto 0 auto;
}

/* SERVICES SECTION ------------------------------ */

.services {
    color: white;
    /* position: relative; */
}

h2.services-sub {
    font-size: 30px;
    line-height: 35px;
}

.services p {
    text-align: center;
}

.services p::after {
    display: block;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    width: 200px;
    margin: 10% auto 0 auto;
}

/* ABOUT US ---------------------------------------- */
section.about {
    color: white;
    text-align: center;
    margin-bottom: 5%;
}

h3 {
    font-size: 30px;
    line-height: 35px;
}

/* CUSTOMER FEEDBACK ------------------------------*/
.slider-div {
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(0, 102, 255);
    background-color: rgb(230, 230, 230, .3);
}

h2.customer-feedback {
    text-align: center;
    margin-bottom: 0;
}

.slider {
     margin-top: 0;
     text-align: center;
     padding: 20px;
}

div.slide {
    -webkit-box-shadow: 5px 5px 5px rgb(230, 230, 230);
            box-shadow: 5px 5px 5px rgb(230, 230, 230);
    max-width: 500px;
    max-height: 500px;
    margin: 10px;
}

.slick-prev,
.slick-next {
     background: black;
     width: 40px;
     height: 60px;
     z-index: 1;
}
.slick-prev {
     left: 0;
}

.slick-next {
     right: 0;
}

.slick-prev:hover,
.slick-next:hover {
     background: black;
}

/* CONTACT FORM ----------------------------------- */

.section-form {
    margin-bottom: 30px;
}

div h2 {
    text-align: center;
    margin-top: 0;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

div.span-1-of-3 {
text-align: right;
}


input[type=text],
input[type=email],
input[type=phone],
textarea {
    width: 50%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    background-color: rgba(65, 175, 245, 0.95);
    border: 1px solid rgba(65, 175, 245, 0.95);
    color: white;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit]:hover {
    background-color: rgba(85, 195, 265, 0.95);
}

/* FOOTER ----------------------------------------- */

footer {
    background-color: rgb(75, 75, 75);
    padding-top: 10px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0;
}

footer h1 {
    font-size: 16px;
    font-weight: 300;
}

/* RESPONSIVE ----------------------------------- */

@media only screen and (max-width: 1750px){
    div.contactbox {
        width: 50%;
        left: 25%;
    }
}

@media only screen and (max-width: 1510px){

    div.contactbox {
        width: 50%;
        left: 25%;
    }

    ul#scene {
        margin: 20px auto;
    }

    ul#scene::after {
        margin: 40px auto 10px auto;
    }

    ul#scene li.layer {
        text-align: center;
        font-size: 30px;
        line-height: 35px;
        width: 100%;
        list-style: none;
    }

    .services p::after {
        margin: 45px auto 0 auto;
    }

    h2.services-sub {
        font-size: 25px;
        line-height: 30px;
    }

    .services p {
        padding: 5px;
        font-size: 20px;
        line-height: 25px;
    }

    h3 {
        font-size: 25px;
        line-height: 30px;
    }

    .about p {
        font-size: 20px;
        line-height: 25px;
    }

    .contact-form {
        width: 60%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 1160px){
    div.contactbox {
        width: 60%;
        left: 20%;
    }


    ul#scene {
        margin: 20px auto;
    }

    ul#scene::after {
        margin: 40px auto 10px auto;
    }

    ul#scene li.layer {
        text-align: center;
        font-size: 30px;
        line-height: 35px;
        width: 100%;
        list-style: none;
    }

    .services p::after {
        margin: 45px auto 0 auto;
    }

    h2.services-sub {
        font-size: 25px;
        line-height: 30px;
    }

    .services p {
        padding: 5px;
        font-size: 20px;
        line-height: 25px;
    }

    h3 {
        font-size: 25px;
        line-height: 30px;
    }

    .about p {
        font-size: 20px;
        line-height: 25px;
    }

    .contact-form {
        width: 60%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 768px){
    div.contactbox {
        width: 70%;
        left: 15%;
    }
}

@media only screen and (max-width: 650px){
    .cover-main {
        height: 80vh;
    }
}

@media only screen and (max-width: 570px){
    .cover-main {
        height: 90vh;
    }
}

@media only screen and (max-width: 500px){
    .cover-main {
        height: 100vh;
    }
}

@media only screen and (max-width: 481px){
    div.span-1-of-3 {
        text-align: inherit;
    }

}

@media only screen and (max-width: 420px){
    .cover-main {
        height: 100vh;
    }

    nav h1 {
        font-size: .9em;
    }

    body {
        font-size: .9em;
    }

    div.contactbox {
        height: 70%;
        width: 74%;
        left: 13%;
    }

    ul#scene li.layer {
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        width: 100%;
        list-style: none;
    }

    h2.services-sub {
        font-size: 15px;
        line-height: 20px;
    }

    .services p {
        padding: 5px;
        font-size: 15px;
        line-height: 20px;
    }

    h3 {
        font-size: 15px;
        line-height: 20px;
    }

    .about p {
        font-size: 15px;
        line-height: 20px;
    }

    footer h1 {
        font-size: .9em;
    }


}

@media only screen and (max-height: 920px) {
    .cover-main {
        height: 90vh;
        font-size: .9em;
    }
}

@media only screen and (max-height: 747px) {
    .cover-main {
        height: 100vh;
        font-size: .9em;
    }
}

@media only screen and (max-height: 668px) {

    .cover-main {
        height: 120vh;
    }

    div.contactbox {
        height: 70%;
    }

    ul#scene li.layer {
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        width: 100%;
        list-style: none;
    }

    h2.services-sub {
        font-size: 15px;
        line-height: 20px;
    }

    .services p {
        padding: 5px;
        font-size: 15px;
        line-height: 20px;
    }

    h3 {
        font-size: 15px;
        line-height: 20px;
    }

    .about p {
        font-size: 15px;
        line-height: 20px;
    }
}
